.formulario{
    display: flex;
    justify-content: center;
    margin: 80px 0;
    color:black;
}

.formulario form{
    max-width: 80%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.08);
}

.formulario Botao{
        background-color: #6278f7;
        border-radius: 10px;
        font-weight: 700;
        font-size: 18px;
        padding: 32px;
        border: none; 
        cursor: pointer;
        color: #FFF;
        margin: 32px 0;
        
    }
